*{
    margin: 0px;
    padding: 0px;
}
.container{
    background: #4ff6ff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    height: 70vmin;
    width: 70vmin;
    background: #001926;
    border-radius: 50%;
    position: relative;
    border: 30px solid #d6cd18;
    display: flex;
    align-items: center;
    justify-content: center;
}
.numbers{
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
}
.number span{
    position: absolute;
}
.number{
    position: absolute;
    font-size: 2.5rem;
    color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.number1{
    transform: rotate(30deg);
 }
.number2{
    transform: rotate(60deg);
}
.number3{
    transform: rotate(90deg);
}
.number4{
    transform: rotate(120deg);
}
.number5{
    transform: rotate(150deg);
}
.number6{
    transform: rotate(180deg);
}
.number7{
    transform: rotate(210deg);
}
.number8{
    transform: rotate(240deg);
}
.number9{
    transform: rotate(270deg);
}
.number10{
    transform: rotate(300deg);
}
.number11{
    transform: rotate(330deg);
}
.number1 span{
    transform: rotate(-30deg);
}
.number2 span{
    transform: rotate(-60deg);
}
.number3 span{
    transform: rotate(-90deg);
}
.number4 span{
    transform: rotate(-120deg);
}
.number5 span{
    transform: rotate(-150deg);
}
.number6 span{
    transform: rotate(-180deg);
}
.number7 span{
    transform: rotate(-210deg);
}
.number8 span{
    transform: rotate(-240deg);
}
.number9 span{
    transform: rotate(-270deg);
}
.number10 span{
    transform: rotate(-300deg);
}
.number11 span{
    transform: rotate(-330deg);
} 
.clock::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border: 7px solid #fff;
    border-radius: 50%;
   background: #001926;
}
 .hour,.minute,.second{
    position: absolute;
    display: flex;
    justify-content: center;
    transform-origin: bottom;
}
 .hour{
    top: 24%;
    height: 26%;
    width: 10px;
    background: #ff105e;
    border-radius: 5px 5px 0 0;
    transform: rotate(60deg);
}

.minute{
    top: 20%;
    height: 30%;
    width: 6px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    transform: rotate(180deg);
}

.second{
    top: 16%;
    height: 34%;
    width: 2px;
    background: #236aee;
    border-radius: 5px 5px 0 0;
    /* transform: rotate(270deg); */
    z-index: 51;
}

.second::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 25px;
    background: #236aee;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -25px;
}
@media (max-width:600px) {
    .number{
        font-size: 1.5rem;
   }
    .clock{
        border: 20px solid #0c2633;
   }
} 